<h1>Vsi dogodki</h1>

<!-- Filter form -->
<form action="/events/filter" method="get">
    <label for="category">Kategorija:</label>
    <select name="category" id="category">
        <option value="concert">concert</option>
        <option value="festival">festival</option>
        <option value="sports">sports</option>
        <option value="community event">community event</option>
        <option value="educational event">educational event</option>
        <option value="performance">performance</option>
        <option value="conference">conference</option>
        <option value="other">other</option>
    </select>
    <button type="submit">Filter</button>
</form>

{{#each events}}
    <div class="event">
        <h2><a href="/events/showEvent/{{id}}">link</a></h2>
        <img src="{{eventImage}}" alt="{{name}}" width="200">
        <h2>{{name}}</h2>
        <p>{{date}}</p>
        <p>{{venue}}</p>
        <p>{{address}}</p>
        <p>{{startTime}} - {{endTime}}</p>
        <p>{{description}}</p>
        <p>{{contact}}</p>
        <p>{{category}}</p>
        <p>{{latitude}}, {{longitude}}</p>
        <hr>
    </div>
{{/each}}